.new-password {
    width: 100%;
}

.wraper-new-password {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(138, 224, 198);
    align-items: center;
}

.main-new {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 3vh;
}

.info-new {
    width: 50%;
    margin-right: 8vh;
}

.info-new h1 {
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.new-password-image {
    width: 40vw;
    height: 50vh;
    border-radius: 4vh;
    margin-left: 4vh;
    background: url(../../Assets/restablecer-la-contrasena.png) no-repeat center center;
    background-size: 60%;
    background-color: transparent;
}

.info-new input {
    width: 100%;
    height: 6vh;
    border-radius: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 2vh;
    font-size: 1.2em;
    border: 2px solid #000000;
}

.info-new input[type="password"], .info-new input[type="email"] {
    padding-left: 2vh;
    font-size: 1.2em;
    border: 2px solid #000000;
}

.new-password-buttons {
    width: 35%;
    height: 5vh;
    color: white;
    border-radius: 3vh;
    margin-top: 4vh;
}

.new-password-button {
    width: 100%;
    height: 5vh;
    color: white;
    background-color: #000000;
    border-radius: 3vh;
    border: none;
}

.new-password-button:hover {
    background-color: #264e70;
    color: white;
}
