.forgot-password{
    width: 100%;
}

.wraper-forgot-password{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(138, 224, 198);
    align-items: center;
}

.main-forgot{
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 3vh;
}

.forgot-password h1{
    font-size: 2em;
    margin-bottom: 2vh;
}

.forgot-password p{
    font-size: 1.5em;
    margin-bottom: 2vh;
}

.forgot-password input{
    width: 90%;
    height: 6vh;
    border-radius: 3vh;

}

.forgot-password input[type="email"] {
    padding-left: 2vh;
    font-size: 1.2em;
    border: 3px solid #000000;
}

.forgot-password-buttons{
    width: 35%;
    height: 5vh;
    color: white;
    border-radius: 3vh;
    margin-top: 4vh;
}

.forgot-password-image{
    width: 55vh;
    height: 50vh;
    border-radius: 4vh;
    margin-left: 3vh;
    background: url(../../Assets/forgotPassword.png) no-repeat center center;
    background-size: 90%;
    background-color: transparent;
}

.forgot-password button{
    width: 100%;
    height: 5vh;
    background-color: #000000;
    color: white;
    border-radius: 3vh;
}

.forgot-password button:hover{
    background-color: #264e70;
    color: white;
}

.forgot-password a{
    font-size: 1.5em;
    margin-top: 2vh;
}

.forgot-password-title{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    margin-right: 10%;
    color: #000000;
    margin-bottom: 7vh;
}

.forgot-password-description{
    font-size: 1.2em;
    color: #000000;
    margin-right: 10%;
    margin-bottom: 7vh;
}