footer {
  background-color: #454D66; /* Fondo claro */
  color: #333333; /* Color de texto oscuro para contraste */
  padding: 2rem 0; /* Padding superior e inferior */
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos verticalmente */
}

.footer-columns {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos uniformemente */
  flex-wrap: wrap; /* Permite que las columnas se envuelvan */
  width: 100%;
}

.footer-column {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columnas */
  align-items: center; /* Centra los elementos de la columna */
  max-width: 200px; /* Ancho máximo para cada columna */
  background-color: #ffffff;
  border-radius: 5%;
  padding: 1rem;
  margin: 1rem; /* Agrega margen entre las columnas */
}

.footer-icon {
  width: 50px; /* Tamaño del ícono o imagen */
  height: 50px; /* Tamaño del ícono o imagen */
  display: flex;
  justify-content: center; /* Centra el ícono horizontalmente */
  align-items: center; /* Centra el ícono verticalmente */
  margin-bottom: 1rem; /* Espacio entre el ícono y el texto debajo */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
  border-radius: 2vh; /* Hace el contenedor del ícono redondo */
}

.footer-text {
  text-align: center; /* Alinea el texto al centro */
  font-size: 0.875rem; /* Tamaño del texto */
}

.footer-link {
  display: block;
  margin-top: 20px;
  color: #181834;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
